.waterFallSkeleton {
    filter: grayscale(90%) opacity(75%);
    height: 100%;
  }
  
  .waterFallSkeleton svg text {
    filter: blur(3px);
  }
  
  .waterFallSkeleton span {
    filter: blur(3px);
  }
  