.SendReportBtn {
  text-transform: none !important;
  font-weight: 600 !important;
}

.SendReportModalCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  border-radius: 0.4rem;
}

.SendReportModalCard .SendReportWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.SnedReportCardHeader {
  border-bottom: 1px solid #22335435;
  padding: 0.25rem 1rem !important;
}

.SendReportCardContent {
  flex-grow: 1;
  margin: 1rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.SendReportCardContent .SendReportCardContentWrapper {
  border: 1px solid #d3d6dd;
  flex-grow: 1;
  min-height: 5rem;
  position: relative;
  border-radius: 0.25rem;
  padding: 1rem;
}

.SendReportCardContentSpan {
  background-color: #fff;
  color: #22335488;
  left: 0;
  position: absolute;
  top: 0;
  transform: translate(10%, -60%);
  padding: 0 0.5rem;
}

.SendReportChipMail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SendReportChipMail span {
  flex-grow: 1;
  text-align: center;
}

.SendReportCardActions {
  border-top: 1px solid #22335435;
  margin-top: 2rem;
}

.SendReportCardActions .SendReportCardActionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1.25rem;
}

.SendReportCardActionsBtns {
  text-transform: none !important;
  font-weight: 600 !important;
  min-width: 8rem !important;
  border-radius: 0.5rem !important;
}
